{% extends "ems/base_dashboard.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!--Topside-->
    <div class="container">
      <div class="row mt-4">
          <div class="col-md-4">
              <div class="card">
                  <div class="card-header bg-info text-white">
                      Information
                  </div>
                  <div class="card-body">
                      <marquee behavior="" direction="left">
                          <h3 class="my-4"> {{title}}</h3> </h3>
                      </marquee>
                  </div>
              </div>
            
            
    <!--start importtant libraries for the modal  -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--import for modal -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
    <!--end importtant libraries for the modal  -->

            
                
          </div>
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header bg-info text-white">
                      {{header}} 
                  </div>
                  <div class="card-body">
                      <div class="row">
                         <!--main content-->
                         <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Description</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Price</th>
                              <th scope="col">Reorder Level</th>
                              <th scope="col">Details</th>
                              <th scope="col">Action</th>
                              <th scope="col">
                                  <!-- Trigger the modal with a button -->
                                <a href="#myModal" data-toggle="modal" data-target="#myModal">Add 
                                </a>

                              </th>
                            </tr>
                          </thead>

                          {% for product in physical_products %}
                          <tbody>
                            <tr>
                              
                              <td>{{product.description}}</td>
                              <td>

                              {% if product.quantity <= product.reorder_level %}
                   
                    <div style="background-color: orange"> <a href="{% url 'issue_or_receive_physical_items' product.id %}"> {{product.quantity}}</a></div>
                   
                    {% else %}
                    <a href="{% url 'issue_or_receive_physical_items' product.id %}"> {{product.quantity}}</a>
                    
                    {% endif %}
                              </td>  

                              <td>${{product.price}}</td> 
                              <td><a href="{% url 'reorder_level' product.id %}">{{product.reorder_level}}</a></td> 
                              <td><a href="{% url 'product_full_details' product.id %}">Details</a></td>
                              <td> <a href="{% url 'update_physical_stock' product.id %}" data-toggle="tooltip" title="Update this record">Update</a>
                              <td> <a href="{% url 'delete_physical_stock' product.id %}" data-toggle="tooltip" title="Delete this record"><img src="{% static 'images/delete.png'%}" width="30"></a></td>
                            </td>
                            </tr>
                            
                           
                            {% endfor %}
                          </tbody>
                        </table>
                          
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
 
<!--start of  modal part-->
<div class="container">
  
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
         
          
        </div>
        <div class="modal-body">
          <!--this is  tag form part-->
        <form method='POST' action=''>{% csrf_token %}

<div class="container">
      <div class="row mt-4">
          <div class="col-md-6">
              <div class="card">
                  <div class="card-header bg-info text-white">

                Important Information
                
                  </div>
                  
        <div class="card-body">      
        <div class="row mt-4">
           <div class="col-md-6">
            {{ form.part_number|as_crispy_field }}<br>
              </div>

              <div class="col-md-6">
                {{ form.description|as_crispy_field }}<br>
              </div> 
        </div> 
        </div>
                  
                <div class="card-body">
                  <div class="row mt-4">
                    <div class="col-md-6">
                     {{ form.quantity|as_crispy_field }}<br><!-- this form is imported from the views under add_customers function and it was initially creaate
                         in the forms.py file-->
                       </div>
                       <div class="col-md-6">
                         {{ form.price|as_crispy_field }}<br>
                        
                        <!--end of form-->
                         
                              </div>    
                              </div>
                              </div>

              </div>
              
              <br>

              <div class="card">
                <div class="card-header bg-info text-white">
                  Vendor details
              
                </div>
                <div class="card-body">

                  <table class="table table-hover">
                    
                          <div class="row mt-4">
                            <div class="col-md-6">
                             {{ form.reorder_level|as_crispy_field }}<br><!-- this form is imported from the views under add_customers function and it was initially creaate
                                 in the forms.py file-->
                               </div>
                               <div class="col-md-6">
                                 {{ form.vendor|as_crispy_field }}<br>
                                
                                <!--end of form-->
                                 
                                      </div>    
                                      </div> 

                          </div>
                    </table>
                      
                </div>
               
            </div>
           
           

          </div>
         
          
          <div class="col-md-6">
              <div class="card">
                  <div class="card-header bg-info text-white">
                      Item details


                  </div>
                  <div class="card-body">
                      <div class="row">
                
                         <table class="table table-hover">
                         
                              <div class="row mt-4">
                                <div class="col-md-6">
                                 {{ form.weight|as_crispy_field }}<br>
                                    
                                   </div>
                                   <div class="col-md-6">
                                     {{ form.length|as_crispy_field }}<br>
                                  
                                     
                                          </div>    
                                          </div> 
                        </table>

                        <div class="row mt-4">
                          <div class="col-md-6">
                           {{ form.width|as_crispy_field }}<br>
                            
                             </div>
                             <div class="col-md-6">
                               {{ form.comments|as_crispy_field }}<br>
                              
                                    </div>    
                                    </div> 
                          
                      </div>
                  </div>
              </div>
              <br>
              
              <div class="card">
                <div class="card-header bg-info text-white">

              Extra details
                </div>
                <div class="card-body">
                          <div class="row mt-4">
                            <div class="col-md-6">
                             {{ form.color|as_crispy_field }}<br>
                                 
                               </div>
                               <div class="col-md-6">
                                 {{ form.expiry_date|as_crispy_field }}<br>
                                
                               
                                 
                                      </div>    
                                      </div> 
                </div>
            </div>


          </div>
          <div class="modal-footer">
            <input type="submit" value='   Save    ' class="btn btn-success">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button></div>
      </div>
      
  </div>
  
 
</div>
</div>
</div><!--end of modal part-->

</div>

{% endblock %}
