{% extends "ems/base_dashboard.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <!--Topside-->
    <div class="container">
      <div class="row mt-4">
          <div class="col-md-4">
              <div class="card">
                  <div class="card-header bg-info text-white">
                      Information
                  </div>
                  <div class="card-body">
                      <marquee behavior="" direction="left">
                          <h3 class="my-4"> {{title}}</h3> </h3>
                      </marquee>
                  </div>
              </div>
              <!--start content of left column-->
              <form method='POST' action=''>{% csrf_token %}
                {{form|crispy}}<br><!-- this form is imported from the views under add_customers function and it was initially creaate
                    in the forms.py file-->
                    <input type="submit" value='Save'/>
                </form>
              <!--end of content of left column-->


          </div>
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header bg-info text-white">
                      {{header}}
                  </div>
                  <div class="card-body">
                      <div class="row">
                         <!--main content-->
                         <table class="table table-hover">
                          <thead>
                            <tr>
                             
                              <th scope="col">Description</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Price</th>
                              <th scope="col">Reorder Level</th>
                              <th scope="col">More</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          {% for product in physical_products %}
                          <tbody>
                            <tr>
                             
                              <td>{{product.description}}</td>
                              <td>

                              {% if product.quantity <= product.reorder_level %}
                   
                    <div style="background-color: orange"> <a href="{% url 'issue_or_receive_physical_items' product.id %}"> {{product.quantity}}</a></div>
                   
                    {% else %}
                    <a href="{% url 'issue_or_receive_physical_items' product.id %}"> {{product.quantity}}</a>
                    
                    {% endif %}
                              </td>  




                              
                             
                              <td>${{product.price}}</td> 
                              <td><a href="{% url 'reorder_level' product.id %}">{{product.reorder_level}}</a></td> 
                              <td><a href="{% url 'product_full_details' product.id %}">More</a></td>
                              <td> <a href="{% url 'update_physical_stock' product.id %}" data-toggle="tooltip" title="Update this record">Update</a>
                              <td> <a href="{% url 'delete_physical_stock' product.id %}" data-toggle="tooltip" title="Delete this record"><img src="{% static 'images/delete.png'%}" width="30"></a></td>
                            </td>
                            </tr>
                            
                           
                            {% endfor %}
                          </tbody>
                        </table>
                          
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--End Topside-->


{% endblock %}
