
{% extends "ems/base_dashboard.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
   <!-- start of important for this tabs popup-->
    <!-- Google fonts - Poppins -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
		
.pointer {cursor: pointer;}
                    
.wp-block {
  margin: 0 0 15px 0;
  padding:15px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  position: relative;
  cursor: default;
  border-radius: 2px;
}
</style>
  						
<a  class="active pointer" onclick="openPage('user_details')"><i style="color: black;padding:18px 14px 4px 70px;" class="material-icons md-24" id="defaultOpen">assignment</i><span style='line-height:2'>HRM</span></a>
<a class="pointer" onclick="openPage('documents')"><i style="color: black;padding:18px 14px 4px 70px;" class="material-icons md-24">commute</i>More details</a>
<a class="pointer" onclick="openPage('vehicleoperator')"><i style="color: black;padding:18px 14px 4px 70px;" class="material-icons md-24">how_to_reg</i>Page3</a>
							

	<div id="user_details" class="tabcontent" >
								
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-info text-white">
                            Information
                        </div>
                        <div class="card-body">
                            <marquee behavior="" direction="left">
                                <h3 class="my-4"> {{title}}</h3> </h3>
                            </marquee>
                        </div>
                    </div>
                    <!--start content of left column-->
                    <form id="form">
                      
                      <div id="shipping-info">
                          <hr>
                              <div class="form-field">
                                  <input class="form-control" type="text" name="part_number" placeholder="Product part number">
                              </div>
                              <div class="form-field">
                                  <input class="form-control" type="text" name="description" placeholder="Product description">
                              </div>
                              <div class="form-field">
                                  <input class="form-control" type="number" name="quantity" placeholder="Quantity">
                              </div>
                              <div class="form-field">
                                  <input class="form-control" type="number" name="price" placeholder="Price">
                              </div>
                              <div class="form-field">
                                  <input class="form-control" type="text" name="comment" placeholder="Comments">
                              </div>
                          
                      </div>
                      <hr>
                      
                      <input id="form-button" class="btn btn-success btn-block" type="submit" value="Add">
                  </form>
      
                    <!--end of content of left column-->
      
      
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header bg-info text-white">
                            {{header}}header
                        </div>
                        <div class="card-body">
                            <div class="row">
                               <!--main content-->
                               <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Staff no.</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Second Name</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Comments</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>001</td>
                                    <td>Rayxaan</td>
                                    <td>Axmed</td>
                                    <td>CEO</td>
                                    <td>None</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>002</td>
                                    <td>Maxammed</td>
                                    <td>Axmed</td>
                                    <td>Director</td>
                                    <td>Group director</td>
                                  </tr>
                                
                                </tbody>
                              </table>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                
	</div>
						
	<div id="documents" class="tabcontent">
	     
    <h4>CONTENT HERE FOR FIRST TAB 2</h4>

    </div>
            
	
	<div id="vehicleoperator" class="tabcontent">

		<h4>CONTENT HERE FOR FIRST TAB 3</h4>

    </div>

    
       
    <!-- JavaScript files-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   
   
<script>

function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
   tabcontent[i].style.display = "none";
   
  }
  
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
 // elmnt.style.backgroundColor = "#eae2e2";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

$(document).ready(function() {

});
</script>

{% endblock %}