{% extends "ems/base_dashboard.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
   


<form method='POST' action=''>{% csrf_token %}
    


    
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
     
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
   
   
    <input type="submit" value='   Save    ' class="btn btn-success">
  </form>

  {% if messages %}
  {% for message in messages %}
  
  <div style="width: 100px; height: 3px;">
  <div class="alert alert-warning alert-dismissible fade show" role="alert"><br>
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">  Close  </button>
    </div>
    </div>
  {% endfor %}
  
  {% endif %}  

{% endblock %}
