
{% extends "ems/base_dashboard.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .timer{
	background-color: #dc3545;
	border-radius: 5px;
	padding: 5px;

}
.form{
    background-color: #17a2b8;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),
            0 6px 20px 0 rgba(0,0,0,0.39);

    margin-bottom : 5%;
    border-radius: 25px;
    padding : 2%;
    overflow: auto;
    resize: both;
    text-overflow: ellipsis;
}
.form:hover{
    background-color: #61a2b8;
    
}
.card{
    margin-bottom : 5%;
    border-radius: 10px;
    padding : 2%;
   
   
    text-overflow: ellipsis;
}


</style>
   <!-- start of important for this tabs popup-->
    <!-- Google fonts - Poppins -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

 

	<div id="user_details" class="tabcontent" >
								
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-3">
                   

                 <div class="form">
                     <h4 style="color: white; text-align: center;">Add task</h4>

              <!--start of the form section-->     
            <form class="form-horizontal" method="POST" action="">
            {% csrf_token %}
         
          
         
                      <div id="shipping-info">
                          <hr>
                              <div class="form-field">
                               {{form.title}}
                              </div>
                              <div class="form-field">
                               {{form.task}}
                              </div>
                              <div class="form-field">
                               {{form.status}}
                              </div>
                              <div class="form-field">
                                {{form.dueDate}}
                               </div>
                               <div class="form-field">
                                {{form.complete}}
                               </div>
                               <div class="form-field">
                                {{form.taskDay}}
                               </div>
                              
                      </div>
                      
                      <button id="form-button" class="btn btn-success btn-block" type="submit">Save</button>
                  </form>
                  
                    <!--end of content of left column-->
                    </div>
      
      
                </div>
                <div class="col-md-9" style="padding-left: 1px;">
                    <div class="card">
                        <div class="card-header bg-info text-white">
                            <h5 style="color: white; text-align: center;">Tasks page </h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                               <!--main content-->
                               <table class="table table-hover">
                                <thead>
                                  <tr>
                                   
                                    <th scope="col">Task No.</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Due</th>
                                    <th scope="col">Complete</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Remaining Time</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for task in tasks %}
                                    {% if task.taskDay == 'Monday' %}
                                  <tr>
                                    
                                    <td>{{forloop.counter}}</td>
                                    <td>{{task.title}}</td>
                                    <td>{{task.task}}</td>
                                    <td>{{task.status}}</td>
                                    <td>{{task.dueDate}}</td>
                                    <td>{{task.complete}}</td>
                                    <td>{{task.taskDay}}</td>

                                     
        <td> <a href="{% url 'todoapp:update_tasks' task.id %}" data-toggle="tooltip" title="Delete this record">
             <button class="btn btn-success">Update</button></a></td>
                                    
                                  
            <td> <a href="{% url 'todoapp:delete_task' task.id %}" data-toggle="tooltip" title="Delete this record">
                <button class="btn btn-danger">Delete</button></a></td>

                <td>  <button class="btn btn-success"> {{ task.dueDate|timeuntil }}</button></td>

    
    </tr>
    {% elif task.taskDay == 'Wednesday' %}
    {{task.task}}  <a href="{% url 'todoapp:delete_task' task.id %}" data-toggle="tooltip" title="Delete this record">
        <button class="btn btn-danger">Delete</button></a>
    {% else%}
    {{task.taskDay}}  <a href="{% url 'todoapp:delete_task' task.id %}" data-toggle="tooltip" title="Delete this record">
        <button class="btn btn-danger">Delete</button></a>
    {% endif %}
                                  
                                {% endfor %}
                                </tbody>
                              </table>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                
	</div>
						
	

     
            
            
            {% endblock %}
   