<!--start of good dynamic fields-->
<div class="row">
    <div class="col-lg-6">
<form method='POST' action=''>{% csrf_token %}
    <div id="dynamicCheck">
      <input type="button" value="Generate dynamic fields"  onclick="createNewElement();"/>
    </div>
    <table>
      
      <tr>
      <td><div id="newElementId">Description</div></td>
      
      </tr>
    </table>
    <input type="submit" value='Save' class="btn btn-success">
    </form>
    </div>

    
    <script type="text/JavaScript">
      function createNewElement() {
          // First create a DIV element.
          var txtNewInputBox = document.createElement('div');
         // var txtNewInputBox1 = document.createElement('div');
         // var txtNewInputBox2 = document.createElement('div');
      
          // Then add the content (a new input box) of the element.
          
          txtNewInputBox.innerHTML = "<input placeholder='Product Name' name='description' type='text' id='newInputBox'>";
          //txtNewInputBox1.innerHTML = "<input placeholder='Quantity' type='number' name='quantity' id='newInputBox'>";
         // txtNewInputBox2.innerHTML = "<input placeholder='Price' name='price' type='number' id='newInputBox'>";
      
      
          // Finally put it where it is supposed to appear.
          document.getElementById("newElementId").appendChild(txtNewInputBox);
         // document.getElementById("newElementId1").appendChild(txtNewInputBox1);
         // document.getElementById("newElementId2").appendChild(txtNewInputBox2);
      }
      </script>
    <!--end of dynamic field-->
<div class="col-lg-6">
    <table>
        <th>Description</th>
       
        {% for items in products %}
  
        <tr>
        <td> {{items.description}}</td>
        
        </tr>
        
   {% endfor %}
      </table>
  
   
   
   </div></div>

{{form.fname}}