{% extends "flights/layout.html"%}
{% block body %}
<style>
    .flight{
        color: red;
        font-size: 50px;
        text-align: center;
    }
</style>
<div id="flight">
<h1 style="text-align: center;">International flights</h1>

{% for flight in flights %}
<h3>
    <li style="text-align: center;">

        {{flight.id}}
       from  {{flight.origin}} to
       <a href="{% url 'flights:flight' flight.id %}">
        {{flight.destination}}
        </a>
    </li>
    </h3>


{% endfor %}
</div>
{% endblock%}